[submodule "ep1/textbox"]
	path = ep1/textbox
	url = https://gist.github.com/458048c60d271ab2536665cb81595c6b.git
[submodule "ep1/dostools/inputter"]
	path = ep1/dostools/inputter
	url = git://bisqwit.iki.fi/inputter.git
[submodule "ep2/textbox"]
	path = ep2/textbox
	url = https://gist.github.com/458048c60d271ab2536665cb81595c6b.git
[submodule "ep2/dostools/inputter"]
	path = ep2/dostools/inputter
	url = git://bisqwit.iki.fi/inputter.git
[submodule "ep2/dostools/that_editor"]
	path = ep2/dostools/that_editor
	url = git@github.com:bisqwit/that_editor.git
[submodule "ep3/transform_iterator"]
	path = ep3/transform_iterator
	url = https://gist.github.com/a263ac9f9b57d32559042677a32afa9d.git
[submodule "ep3/textbox"]
	path = ep3/textbox
	url = https://gist.github.com/458048c60d271ab2536665cb81595c6b.git
[submodule "ep3/dostools/that_editor"]
	path = ep3/dostools/that_editor
	url = git@github.com:bisqwit/that_editor.git
[submodule "ep3/dostools/inputter"]
	path = ep3/dostools/inputter
	url = git://bisqwit.iki.fi/inputter.git
[submodule "ep4/textbox"]
	path = ep4/textbox
	url = https://gist.github.com/458048c60d271ab2536665cb81595c6b.git
[submodule "ep4/dostools/that_editor"]
	path = ep4/dostools/that_editor
	url = git@github.com:bisqwit/that_editor.git
[submodule "ep4/dostools/inputter"]
	path = ep4/dostools/inputter
	url = git://bisqwit.iki.fi/inputter.git
[submodule "ep4/transform_iterator"]
	path = ep4/transform_iterator
	url = https://gist.github.com/a263ac9f9b57d32559042677a32afa9d.git
